<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
		  <rules>
			<rule name="directToSubFolder" stopProcessing="true">
			  <match url="^$" />
			  <action type="Rewrite" url="/app/index.html" />
			</rule>
		  </rules>
		</rewrite>
    </system.webServer>
</configuration>
