<!-- Full Width Image Header -->
<div class="header-image header-about">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Tinku</h1>
            <hr>
            <p>Will Knock Your Socks Off</p>
        </div>
    </div>
</div>

<br/><br/><br/>

<!-- Page Content -->
<div class="container">
    
<div class="row text-center">
    <h1 class="featurette-heading">How does it work?</h1><br/><br/>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">ONGs</div>
            <div class="panel-body">
                <button type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-globe fa-2" aria-hidden="true"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Causes</div>
            <div class="panel-body">
                <button type="button" class="btn btn-warning btn-circle btn-xl"><i class="fa fa-cubes fa-2" aria-hidden="true"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">Needs</div>
            <div class="panel-body">
                <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-heartbeat fa-2" aria-hidden="true"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default text-center">
            <div class="panel-heading">Events</div>
            <div class="panel-body">
                <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="fa fa-magic fa-2" aria-hidden="true"></i></button>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
        </div>
    </div>
</div>







<br/><br/>







    <!-- First Featurette -->
    <div class="featurette">
        <img class="featurette-image img-circle img-responsive pull-right" src="../images/featurette/1.jpg">
        <h2 class="featurette-heading">What is
            <span class="text-muted">Tinku?</span>
        </h2>
        <p class="lead">
            If you’re concerned about the well being of those in need around you, giving them a hand should be easy. Today, “giving a hand” is frequently executed through volunteering, which can be a delicate process. Finding an NGO that fits your vision for impact is time-consuming, and many of the activities that volunteering implies may be tedious. This often leads potential helpers to face a dilemma: should they invest their free time “for others” by volunteering, or “for themselves” by doing the activities they love the most with their close ones? If you’re more often inclined to the second option, we don’t blame you – we do the same. But what if you could do both at the same time?        
        </p>
    </div>

    <hr>

    <!-- Second Featurette -->
    <div class="featurette" id="services">
        <img class="featurette-image img-circle img-responsive pull-left" src="../images/featurette/2.jpg">
        <h2 class="featurette-heading">Why does it
            <span class="text-muted">matter?</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
    <br/><br/><br/>
</div>

<!--<div ui-view="footer" style="height:auto;" ></div>-->