<!-- Full Width Image Header -->
<div class="header-image header-causes">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Causes</h1>
            <hr>
            <p>Support the people and causes that inspire you</p>
        </div>
    </div>
</div>

<br/><br/><br/>

<!-- Page Content -->
<div class="container">
  <div class="page-header">
    <h1 class="text-center">What motivates you</h1>
  </div>
  <p class="lead text-center">Chose the causes to support the issues that impact you and your community.</p>
  <div class="container">
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="images/causes/children.png" class="img-circle img-thumbnail">
          <h2>Children</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/causes/education.png" class="img-circle img-thumbnail">
          <h2>Education</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/causes/empowerment.png" class="img-circle img-thumbnail">
          <h2>Empowerment, Opportunity and Security</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
    </div>
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="images/causes/environment.png" class="img-circle img-thumbnail">
          <h2>Environment</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/causes/health.png" class="img-circle img-thumbnail">
          <h2>Health and Infectious Diseases</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/causes/hunger.png" class="img-circle img-thumbnail">
          <h2>Hunger and Notrition</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
    </div>
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="images/causes/research.png" class="img-circle img-thumbnail">
          <h2>Research</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/causes/water.png" class="img-circle img-thumbnail">
          <h2>Water and Sanitation</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="images/causes/women.png" class="img-circle img-thumbnail">
          <h2>Women and Girls</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <a href="#" class="btn btn-primary" title="See more">Learn more »</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /container -->

<!--<div ui-view="footer" style="height:auto;" ></div>-->